<aside >

  <div class="container">
    <div class="box">
    <button  type="button" routerLinkActive="btn-ativo" [routerLinkActiveOptions]={exact:true}><a routerLink="/">[ GF ] - Devolutivas</a></button>
  </div>
  <div class="box">
    <button  type="button"  routerLinkActive="btn-ativo"  id="butons" ><a  routerLink="/dados-de-relatorio"> Dados de Relatório</a></button>
  </div>
  <div class="box">
    <button  type="button"  routerLinkActive="btn-ativo"  ><a  routerLink="/dados-da-proposta"> Dados da Proposta</a></button>
  </div>

  </div>

</aside>
